.carrito {
    margin: 5px 10px 5px 10px;
    display: inline;
}

.carrito img {
    display: inline;
    width: 35px;
    height: 35px;
    object-fit: contain;

}

.carrito p {
    display: inline;
}